:root {
  --dark-text: black;
  --contrast: #FF6B4E;
  --background: #f9dcc4;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Karma', serif;
  background-color: var(--background);
}

body {
  height: 100%;
  width: 100%;
  color: var(--dark-text);
}

.navbar {
  justify-content: space-around;
}

.nav-link {
  color: var(--contrast);
  font-size: 15px;
  font-weight: bold;
}
.custom-nav {
  background-color: transparent;
  box-shadow: none;
}

.logo {
  width: 40%;
}